venv/
__pycache__/
*.mp4
assets/*
!assets/.keep
!assets/pipeline.svg
!assets/default-background.jpg
!assets/default-aroll.webm
!assets/default-subtitles.webm
!assets/subtitles.srt
!assets/script.txt
.DS_Store
